

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    border: none;
    scroll-behavior: smooth;
    letter-spacing: .4px;
}

body{
    background-color: #E6E6FA;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark: #353535;
    --color-dark-variant: #555555;
    --transition: .4 ease;
}

h1{
    font-size: 60px;
    color: 	#151720;            

}
h2{
    font-size: 28px;
    color: #151720;
}

h3{
    font-size: 26px;
    color: #151720;
}

h4{
    font-size: 19px;

}

h5{
    font-size: 18px;
    font-weight: 400;
}

h1, h2, h3, h4, h5{
    line-height: 120%;
}

.heading{
    padding-top: 9rem;
    text-align: center;
    margin-bottom: 2rem;    
    font-family: "Protest Riot", sans-serif;
}

p{
    font-size: 17px;
    line-height: 140%;
    color: #555555;
}
/*
.heading-p{
    padding-top: 9rem;
    text-align: center;   
    font-weight: 400;
    font-size: 30px;
    color: #686293;
}
*/
a{
    font-size: 24px;
    color: #000000;
    text-decoration-color: #ffffff;
    transition: var(--transition);
}

a:hover{
    text-underline-offset: 1rem;
    text-decoration: underline;
    color: #151720;
}

.btn{
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    cursor: pointer;
    border:  2px solid #97c5de;
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight: 600;
    font-size: 17px;
    transition: var(--transition);
    text-decoration: none !important;
    color: #151720;
}

.btn:hover{
    background-color: #97c5de;
    color: #ffffff;
}

.btn1, .btn-dark{
    background-color: #97c5de;
    color: #ffffff !important;
    text-decoration: none !important;
    border: none;
}

.btn1:hover{
    background-color: #97c5de;
    color: black;
}
.btn-dark:hover{
    background-color: #97c5de;
}

img{
    width: 100%;
    display: block;
}
i{
    font-size: 30px;
    color: #686293;
}

i:hover{
    color: #9ff85c;
}
.icon1{
    width: 50px;
    height: max-content;
} 
.icon2:hover{
    transform: scale(1.3);
}
.fa {
    font-size:24px
}
.container{
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
}

/*header*/

header{
    height: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    place-items: center;
    background-color: #83d0f7;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.logo{
    font-size: 32px;
    color: #151720;
    text-decoration: none !important;
    font-family: "Protest Riot", sans-serif;
}

.menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu a{
    color: #151720;
}

.menu .active{
    background-color: #b4d1f6;
    color: #151720;
}

.active:hover{
    background-color: #a0c2f1 ;
}

/* home */
.header-container{
    padding-top: 14rem;
}

.header-container img{
    border-radius: 50%;
}

.header-container{
    display: grid;
    grid-template-columns: 56% auto;
    max-width: 820px;
    gap: 20px;
    justify-content: space-between;
}


.header-right{
    text-align: center;
    margin: auto;
}

.header-right p{
    color: #555555;
}

.header-right h2{
    margin-top: .4rem;
}

.header-button{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.header-links{
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    margin: 0.7rem auto;
}

/* about*/
.about-container{
    display: grid;
    grid-template-columns: 38% auto;
    gap: 4rem;
    align-items: center;
}

.about-left{
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }

.mySlides img{
    border-radius: 30px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
  }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  

.basic-edu{
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.edu-box{
    padding: 24px;
    text-align: center;
    border: 1px solid #555555;
    border-radius: 30px;
    width: 100%;
}

.edu-box img{
    margin: auto;
}

/* servies*/
.servies-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.servies-box{
    border: 1px solid #555555;
    border-radius: 30px;
    padding: 24px;
}

.servies-box h2{
    text-align: center;
    margin-bottom: 2rem;
}

.servies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.servies-div{
    margin: auto;
    display: flex;
    gap: 20px;
}

/*portfolio*/
.portfolio-tabs{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tab{
    width: 6rem;   
}

.portfolio-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.project img{
    border-radius: 0.8rem;
    padding: 1rem;
}

.projects-content{
    display: flex;
    gap: 1rem;
    text-align: center;

}

.project:hover{
    transform: scale(1.2);
}

.card{
    background-color: #dcd8f3;
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 1.2rem;
    transition: var(--transition);
}

.card:hover{
    background-color: transparent;
    border-color: #a9d4f8;
}

/*testimonials*/
.card1{
    background-color: #9dcbfa;
}

.card1 p{
    color: #3d20e1;
}

.card1:hover{
    transform: scale(1.1);
}
.card1 p:hover{
    color: #000000 !important;
}
.slide{
    width: 100%;
    position: relative;
}

.slide img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #cce48f;
    margin-bottom: .8rem;
    position: absolute;
    left: 0;
    top: -2rem;
}

.slide p{
    margin-top: 1rem;
}

.slide-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}

/*contact*/
.contact-container{
    width: 60%;
    display: grid;
    grid-template-columns: 8rem auto;
    gap: 3%;
}

.contact-left{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    border-right: 3px solid #97c5de;
}

.contact-left a{
    font-size: 1.6rem;
}

form input, textarea{
    width: 100%;
    padding: 1.4rem;
    background: transparent;
    border: 2px solid #97c5de;
    border-radius: .8rem;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #000000;
    resize: none;
}



/*footer*/
footer{
    background-color: #83d0f7;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}



/*max-width*/
@media (max-width:1024px){
    .about-container{
        gap:30px
    }
    .basic-edu{
        gap: 20px;
    }
    .servies-container{
        gap:30px;
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio-projects{
        grid-template-columns: repeat(3,1fr);
    }
    .slide-content{
        grid-template-columns: repeat(3,1fr);
    }
    .contact-container{
        width: 70%;
    }
    
}

@media (max-width:991px){
    .logo{
        display: none;
    }
    .servies-container{
        grid-template-columns: 1fr;
    }
    .portfolio-projects{
        grid-template-columns: repeat(2,1fr);
    }
    .slide-content{
        grid-template-columns: 1fr;
    }
}

@media (max-width:768px){

    .menu i{
        display: none;
    }

    .menu a{
        font-size: 13px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size: 17px;
    }
    .header-container{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .header-left{
        width: 70%;
        margin: 0 auto;
    }

    .about-container{
        grid-template-columns: 1fr;
    }

    .about-left{
        width: 70%;
        margin: 0 auto;
    }

    .basic-edu{
        gap:10px;
    }

    .servies-box{
        padding: 10px;
    }
    .servies{
            
        gap: 20px;
    }
    .servies-div{
        gap: 10px;
    }
    .servies-container{
        grid-template-columns: 1fr;
    }

    .portfolio-tabs{
        padding: 10px;
    }
    .portfolio-projects{
        padding: 10px;
    }
    .project{
        gap: 20px;
    }
    .projects-content{
        gap: 10px;
    }
    .portfolio-projects{
        grid-template-columns: 1fr;
    }
    .project {
        width: 70%;
        margin: auto;
    }
    .slide-content{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .slide{
        gap: 10px;
    }

}
.LAB{
    margin-top: 20px;
    background-color: #b4d5f9;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}
.LAB h3, .LAB h3 a{
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    color: #eee1e1;
    -webkit-text-stroke: 1px #000000;
}
.baitap{
    font-size: 16pt;
    position: absolute;
    text-align: center;
    background-color: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    border-radius: 10px;
    transition: all 450ms cubic-bezier(.445,.05,.55,.95);
    transition-delay: 150ms;
    line-height: 100%;
    color: #eee1e1;
    -webkit-text-stroke: 0.75px #000000;
}
.baitap p a{
    -webkit-text-stroke: 0.75px #000000;
    color: #eee1e1;
}
.baitap1 p:first-child{
    margin-top: 50px;
}
.baitap2 p:first-child{
    margin-top: 30px;
}
.baitap3 p:first-child{
    margin-top: 90px;
}
.baitap4 p:first-child{
    margin-top: 80px;
}
.baitap6 p:first-child{
    margin-top: 72px;
}
.baitap7 p:first-child{
    margin-top: 60px;
}
.baitap8 p:first-child{
    margin-top: 60px;
}
.baitap9 p:first-child{
    margin-top: 60px;
}
.LAB:hover .baitap, .LAB:focus .baitap{
    opacity: 1;
    visibility: visible;
}
